*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE files
*.iml
.idea/
.idea/modules.xml
.idea/gradle.xml
.idea/misc.xml

# Gradle files
.gradle/
build/
